.odd {
    background-color: rgb(233, 93, 93);
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

#second-element {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.adjust-font-size{
    font-size: 24px;
}

#fourth-element {
    background-color: rgb(127, 221, 127);
    font-weight: 900;
}