body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  padding: 8px;
  background: #fff;
  margin: 20px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 10px auto;
  padding: 10px;
}

.content {
  padding: 16px 8px;
  background: #e3f4ff;
  margin: 10px auto;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  margin: auto;
  display: block;
  background: white;
  padding: 8px 16px;
  border: 1px solid #eee;
}